<template>
    <li>
        <div class="post">
            <div class="post-image-section">
                <img :src="imageUrl" :alt="postSlug">
            </div>
            <div class="post-details-section">
                <h4>{{ postTitle }}</h4>
                <p>{{ postBody }}</p>
                <p class="created-at"><small>{{ createdAt }}</small></p>
                <p class="created-by"><small>{{ createdBy }}</small></p>
            </div>
        </div>
        <div class="actions">
            <the-button v-if="isOwned" :mode="flat" @click="deletePost">Delete</the-button>
            <the-button :link="true" :to="viewDetailsUrl" 
            :mode="outline">Read More</the-button>
        </div>
    </li>
</template>

<script>
import TheButton from '../base/TheButton.vue';
export default {
    data() {
        return {
            error: null
        }
    },
    components: { 
        TheButton 
    },
    props: ['postSlug', 'postTitle', 'createdBy', 'createdAt', 'imageUrl', 'postBody', 'userId'],
    computed: {
        viewDetailsUrl() {
            return `/posts/info/${this.postSlug}`;
        },
        isOwned() {
            return parseInt(localStorage.getItem('userId')) === this.userId
        }
    },
    methods: {
        async deletePost() {
            const actionPayload = {
                slug: this.postSlug
            };
            try {
                await this.$store.dispatch('posts/deletePost', actionPayload);
                this.$router.replace('/posts');
            } catch (error) {
                this.error = error;
            }
        }
    }
}
</script>

<style scoped>
.post {
    display: flex;
}

.post-image-section {
    width: 33.33%;
}

.post-image-section img {
    width: 100%;
}

.post-details-section {
    width: 66.66%;
    padding: 0 0 0 15px;
}

li {
  margin: 1rem 0;
  border: 1px solid #2DF566;
  border-radius: 12px;
  padding: 1rem;
}

h3 {
  font-size: 1.5rem;
}

h3,
h4 {
  margin: 0.5rem 0;
}

div {
  margin: 0.5rem 0;
}

.actions {
  display: flex;
  justify-content: flex-end;
}

.created-at {
    margin-bottom: 0;
}
.created-by {
    margin-top: 0;
}
</style>