<template>
    <li>
        <h4>{{ createdBy }}</h4>
        <p>{{ comment }}</p>
        <p class="created-at"><small>{{ createdAt }}</small></p>
    </li>
</template>

<script>
export default {
    props: ['comment', 'createdBy', 'createdAt']
}
</script>

<style scoped>
li {
  margin: 1rem 0;
  border: 1px solid #000000;
  border-radius: 12px;
  padding: 1rem;
}

h3 {
  font-size: 1.5rem;
}

h3,
h4 {
  margin: 0.5rem 0;
}

.created-at {
    margin-bottom: 0;
}
</style>