<template>
    <the-card>
        <section>
            <div class="page-title">
                <h2>Posts List</h2>
                <the-button v-if="isAuthenticated" :link="true" :to="createPostUrl" :mode="flat">New Post</the-button>
            </div>
            <hr>
            <ul v-if="hasPosts">
                <post-item v-for="post in searchedPosts" 
                :key="post.id" 
                :postSlug="post.slug" 
                :postTitle="post.title" 
                :createdAt="post.created_at" 
                :createdBy="post.user"
                :imageUrl="post.image"
                :postBody="post.body"
                :userId="post.user_id"></post-item>
            </ul>
            <p v-else class="error-text">{{ errorMessage }}</p>
        </section>
    </the-card>
</template>

<script>
import PostItem from '../../components/posts/PostItem.vue';

export default {
    data() {
        return {
            error: null
        };
    },
    components: { PostItem },
    computed: {
        isAuthenticated() {
            return this.$store.getters.isAuthenticated;
        },
        searchedPosts() {
            return this.$store.getters['posts/posts'];
        },
        hasPosts() {
            return this.$store.getters['posts/hasPosts'];
        },
        createPostUrl() {
            return '/posts/create'
        },
        errorMessage() {
            return this.error;
        }
    },
    created() {
        this.loadPosts();
    },
    methods: {
        async loadPosts() {
            try {
                await this.$store.dispatch('posts/loadPosts');
            } catch (error) {
                this.error = error.message;
            }
        }
    }
}
</script>

<style scoped>
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.controls {
  display: flex;
  justify-content: space-between;
}

.page-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
</style>
