<template>
    <the-card>
        <section v-if="!this.error">
            <h2>Post Details</h2>
            <hr>
            <h3>{{ postTitle }}</h3>
            <img :src="imageUrl" :alt="postSlug" class="post-image">
            <p><small>{{ createdAt }} - {{ createdBy }}</small></p>
            <p>{{ postBody }}</p>
            <hr>
            <h3>Comments</h3>
            <section>
                <form @submit.prevent="submitForm">
                <p class="error-text">{{ this.errors !== null && this.errors.hasOwnProperty('failed') ? this.errors.failed : '' }}</p>
                <div class="form-control">
                    <label for="comment">Add a comment</label>
                    <textarea name="comment" id="comment" rows="5" v-model,trim="comment" required></textarea>
                    <div class="input-error" id="input-error-comment">
                        <p>{{ this.errors !== null && this.errors.hasOwnProperty('comment') ? this.errors.comment[0] : '' }}</p>
                    </div>
                </div>
                <the-button :mode="flat">Send</the-button>
            </form>
            </section>
            <ul v-if="comments.length > 0">
                <post-comment-item v-for="comment in comments" 
                :key="comment.id" 
                :createdAt="comment.created_at" 
                :createdBy="comment.user"
                :comment="comment.comment"></post-comment-item>
            </ul>
            <p v-else class="error-text">No comments found</p>
        </section>
        <section v-else>
            <h2>Post Details</h2>
            <hr>
            <p class="error-text">{{ errorMessage }}</p>
        </section>
    </the-card>
</template>

<script>
import PostCommentItem from '../../components/posts/PostCommentItem.vue';

export default {
    props: ['slug'],
    data() {
        return {
            selectedPost: null,
            postComments: [],
            error: null,
            errors: [],
            comment: null
        };
    },
    components: { PostCommentItem },
    created() {
        this.loadSelectedPost();
        this.loadCommentsOfSelectedPost();
    },
    computed: {
        postId() {
            return this.selectedPost !== null ? this.selectedPost.id : '';
        },
        imageUrl() {
            return this.selectedPost !== null ? this.selectedPost.image : '';
        },
        postSlug() {
            return this.selectedPost !== null ? this.selectedPost.slug : '';
        },
        postTitle() {
            return this.selectedPost !== null ? this.selectedPost.title : '';
        },
        createdAt() {
            return this.selectedPost !== null ? this.selectedPost.created_at : '';
        },
        createdBy() {
            return this.selectedPost !== null ? this.selectedPost.user : '';
        },
        postBody() {
            return this.selectedPost !== null ? this.selectedPost.body : '';
        },
        errorMessage() {
            return this.error !== null ? this.error.message : '';
        },
        isAuthenticated() {
            return this.$store.getters.isAuthenticated;
        },
        comments() {
            return this.postComments;
        }
    },
    methods: {
        async loadSelectedPost() {
            try {
                this.selectedPost = await this.$store.dispatch('posts/loadSelectedPost', {slug: this.slug});
            } catch (error) {
                this.error = error;
            }
        },
        async loadCommentsOfSelectedPost() {
            try {
                this.postComments = await this.$store.dispatch('comments/loadComments', {slug: this.slug});
            } catch (error) {
                this.error = error;
            }
        },
        async submitForm() {
            const actionPayload = {
                comment: this.comment,
                slug: this.slug
            };
            try {
                await this.$store.dispatch('comments/createComment', actionPayload);
                this.$router.replace('/posts/info/' + this.slug);
            } catch (error) {
                this.errors = error;
            }
        },
    }
}
</script>

<style scoped>
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.post-image {
    width: 100%;
}

label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

input, textarea {
  display: block;
  width: 100%;
  font: inherit;
  border: 1px solid #000000;
  padding: 0.15rem;
}

input:focus, textarea:focus {
  border-color: #2DF566;
  background-color: #ffffff;
  outline: none;
}
</style>