<template>
    <the-card>
        <section v-if="!this.error">
            <h2>Create New Post</h2>
            <hr>
            <form @submit.prevent="submitForm">
                <p class="error-text">{{ this.errors !== null && this.errors.hasOwnProperty('failed') ? this.errors.failed : '' }}</p>
                <div class="form-control">
                    <label for="title">Post Title</label>
                    <input type="text" id="title" v-model,trim="title" required />
                    <div class="input-error" id="input-error-title">
                        <p>{{ this.errors !== null && this.errors.hasOwnProperty('title') ? this.errors.title[0] : '' }}</p>
                    </div>
                </div>
                <div class="form-control">
                    <label for="slug">Post Slug</label>
                    <input type="text" id="slug" v-model,trim="slug" required />
                    <div class="input-error" id="input-error-slug">
                        <p>{{ this.errors !== null && this.errors.hasOwnProperty('slug') ? this.errors.slug[0] : '' }}</p>
                    </div>
                </div>
                <div class="form-control">
                    <label for="body">Post Body</label>
                    <textarea name="body" id="body" rows="30" v-model,trim="body" required></textarea>
                    <div class="input-error" id="input-error-email">
                        <p>{{ this.errors !== null && this.errors.hasOwnProperty('body') ? this.errors.body[0] : '' }}</p>
                    </div>
                </div>
                <div class="form-control">
                    <label for="image">Post Image</label>
                    <input type="file" id="image" />
                    <div class="input-error" id="input-error-image">
                        <p>{{ this.errors !== null && this.errors.hasOwnProperty('image') ? this.errors.image[0] : '' }}</p>
                    </div>
                </div>
                <the-button :mode="flat">Create</the-button>
            </form>
        </section>
        <section v-else>
            <h2>Create New Post</h2>
            <hr>
            <p class="error-text">{{ errorMessage }}</p>
        </section>
    </the-card>
</template>

<script>
export default {
    data() {
        return {
            title: '',
            slug: '',
            body: '',
            image: '',
            errors: null,
        };
    },
    methods: {
        async submitForm() {
            const actionPayload = {
                title: this.title,
                slug: this.slug,
                body: this.body,
                image: this.image
            };
            try {
                await this.$store.dispatch('posts/createPost', actionPayload);
                this.$router.replace('/posts');
            } catch (error) {
                this.errors = error;
            }
        }
    }
}
</script>

<style scoped>
.form-control {
  margin: 0.5rem 0;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

input {
  display: block;
  width: 100%;
  font: inherit;
  border: 1px solid #000000;
  padding: 0.15rem;
  height: 40px;
}

input, textarea {
  display: block;
  width: 100%;
  font: inherit;
  border: 1px solid #000000;
  padding: 0.15rem;
}

input:focus, textarea:focus {
  border-color: #2DF566;
  background-color: #ffffff;
  outline: none;
}

.input-error {
  color: red;
}

.input-error p {
    margin-top: 5px;
}

.actions {
  text-align: center;
}
</style>