<template>
    <the-card>
        <section>
            <h2>Login</h2>
            <hr>
            <form @submit.prevent="submitForm">
                <p class="error-text">{{ this.errors !== null && this.errors.hasOwnProperty('failed') ? this.errors.failed : '' }}</p>
                <div class="form-control">
                    <label for="email">Email</label>
                    <input type="email" id="email" v-model,trim="email" required />
                    <div class="input-error" id="input-error-email">
                        <p>{{ this.errors !== null && this.errors.hasOwnProperty('email') ? this.errors.email[0] : '' }}</p>
                    </div>
                </div>
                <div class="form-control">
                    <label for="password">Password</label>
                    <input type="password" id="password" v-model,trim="password" required />
                    <div class="input-error" id="input-error-password">
                        <p>{{ this.errors !== null && this.errors.hasOwnProperty('password') ? this.errors.password[0] : '' }}</p>
                    </div>
                </div>
                <the-button :mode="flat">Login</the-button>
            </form>
        </section>
    </the-card>
</template>

<script>
export default {
    data() {
        return {
            email: '',
            password: '',
            errors: null,
        };
    },
    methods: {
        async submitForm() {
            const actionPayload = {
                email: this.email,
                password: this.password,
            };
            try {
                await this.$store.dispatch('login', actionPayload);
                this.$router.replace('/posts');
            } catch (error) {
                this.errors = error;
            }
        },
    }
}
</script>

<style scoped>
.form-control {
  margin: 0.5rem 0;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

input {
  display: block;
  width: 100%;
  font: inherit;
  border: 1px solid #000000;
  padding: 0.15rem;
  height: 40px;
}

input:focus {
  border-color: #2DF566;
  background-color: #ffffff;
  outline: none;
}

.input-error {
  color: red;
}

.input-error p {
    margin-top: 5px;
}

.actions {
  text-align: center;
}
</style>