<template>
    <header>
        <nav>
            <h1><router-link to="/">XYZ Company</router-link></h1>
            <ul>
                <li v-if="isAuthenticated"><router-link to="/posts">Posts</router-link></li>
                <li v-if="isAuthenticated && isAdmin"><router-link to="/posts/pending">Pending Posts</router-link></li>
                <li v-if="!isAuthenticated"><router-link to="/login">Login</router-link></li>
                <li v-if="!isAuthenticated"><router-link to="/register">Register</router-link></li>
                <li v-if="isAuthenticated">
                  <the-button @click="logout">Logout</the-button>
                </li>
            </ul>
        </nav>
    </header>
</template>

<script>
export default {
  computed: {
    isAuthenticated() {
      return this.$store.getters.isAuthenticated;
    },
    isAdmin() {
      return this.$store.getters.isAdmin;
    }
  },
  methods: {
    logout() {
      this.$store.dispatch('logout');
      this.$router.replace('/login');
    }
  }
}
</script>

<style scoped>
header {
  width: 100%;
  height: 5rem;
  background-color: #2DF566;
  display: flex;
  justify-content: center;
  align-items: center;
}

header a {
  text-decoration: none;
  color: #000000;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border: 1px solid transparent;
}

a:active,
a:hover,
a.router-link-active {
  border: 1px solid #000000;
}

h1 {
  margin: 0;
}

h1 a {
  color: #000000;
  margin: 0;
}

h1 a:hover,
h1 a:active,
h1 a.router-link-active {
  border-color: transparent;
}

header nav {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  margin: 0 0.5rem;
}
</style>