<template>
    <the-card>
        <section>
            <h2>Pending Posts List</h2>
            <hr>
            <ul v-if="hasPendingPosts">
                <pending-post-item v-for="post in pendingPosts" 
                :key="post.id" 
                :postSlug="post.slug" 
                :postTitle="post.title" 
                :createdAt="post.created_at" 
                :createdBy="post.user"
                :imageUrl="post.image"
                :postBody="post.body"></pending-post-item>
            </ul>
            <p v-else class="error-text">{{ errorMessage }}</p>
        </section>
    </the-card>
</template>

<script>
import PendingPostItem from '../../components/admin/PendingPostItem.vue';
export default {
    data() {
        return {
            error: null
        };
    },
    components: { PendingPostItem },
    computed: {
        pendingPosts() {
            return this.$store.getters['pendingPosts/pendingPosts'];
        },
        hasPendingPosts() {
            return this.$store.getters['pendingPosts/hasPendingPosts'];
        },
        errorMessage() {
            return this.error;
        }
    },
    created() {
        this.loadPendingPosts();
    },
    methods: {
        async loadPendingPosts() {
            try {
                await this.$store.dispatch('pendingPosts/loadPendingPosts');
            } catch (error) {
                this.error = error.message;
            }
        }
    }
}
</script>

<style scoped>
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.controls {
  display: flex;
  justify-content: space-between;
}
</style>
